@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    width: auto;
    margin: 0%;
    padding: 0%;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background:rgb(30 41 59);
}
::-webkit-scrollbar-thumb{
   background:#05b3d1;
}